body{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: linear-gradient(250deg, #d401d4, #630521);
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: 20px;
    width: 400px;
    box-sizing: border-box;
    padding: 0 40px;
}

.formulario h1{
    text-align: center;

    border-bottom: 1px solid silver;

}

.usuario{

    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 50px 0;

}

.formulario input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}


.content-name {
    position: relative;   
    bottom: 0px;
    left: 0px;
    height: 50px;
    padding-bottom: 5px;

  }

  .formulario input:focus {
    outline: none;
  }

.contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 50px 0;

}

.contenedor1{
    background: none;
    width: 100%;

    display: flex;
    align-items: center;
}

.contenedor1 input{
    width: 100%;
    height: 100%;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contenedor1 img{
    position: relative;   
    width: 20px;
    cursor: pointer;
    
}



button{
width: 100%;
height: 40px;
border-radius: 40px;
background: linear-gradient(250deg, #4d8ecc, #ca334a);
border: none;
outline: none;
cursor: pointer;
font-size: 1em;
color: white;
font-weight: 600;

}



